// Загальний дизайн нижче
$white: #E8E8E8
$acs1: #F05454
$acs2: #F6C90E
$gray: #3A4750
$dark: #242a31
$black: #181c22
    
*
    -webkit-transition-property: all
    -webkit-transition-duration: .2s
    -moz-transition-timing-function: cubic-bezier(100,50,21,6)
    -moz-transition-property: all
    -moz-transition-timing-function: cubic-bezier(100,50,21,6)
    margin: 0px
    padding: 0px
    font-family: monospace

body
    background-color: $white
    color: $black
h1
    color: $acs1

h2
    color: $dark


header
    min-width: 550px
    position: fixed
    top: 0
    width: 90%

    .headercont
    a
        text-decoration: none
        color: $acs2
    .logo
        background-color: $gray
        border-radius: 10px 10px 0px 10px
        padding: 10px
        h2
            color: $white
    height: 70px
    padding: 10px 5% 10px 5%
    .menus

        display: flex
        justify-content: right
        .btn
            span
                position: absolute
                top:-20px
            color: $acs2
            padding: 2px
            position: relative
            border-top: 20px solid $gray
            border-left: 30px solid transparent
            height: 0px
            width: 70px
            &:hover
                border-top: 30px solid $dark
                text-transform: uppercase
                span
                    top:-22.5px

            
        .mbtns
            width: 80px
            border-top: 25px solid $gray
            &:hover
                border-top: 35px solid $dark
                span
                    top:-25px
        .bactive
            border-top: 25px solid #485e6d


footer
    padding: 10px 5% 10px 5%
    margin: 0px 5% 0px 5%
    background-color: $gray
    border-radius: 10px 10px 0px 0px
    padding: 10px
    min-height: 15px
    color: $white
    display: flex
    justify-content: space-between

    h2
        color: $white
    a
        text-decoration: none
        color: $white
        &:hover
          font-weight: bold
          text-transform: uppercase
          color: $acs2

//Дизайн головної сторінки нижче
.container
    padding: 50px 5% 50px 5%
    border: dashed 1px #00000050

#first
    
    background-image: url("img/mainb.jpg") 
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 660px
    &::before
        background-image: url("img/mainb.jpg") 
        background-attachment: fixed
        background-position: center
        background-repeat: no-repeat
        background-size: cover
.container2
    
    border: dashed 1px #00000050

.textProSite
    text-align: left
    width: 400px
.textAlignCentr
    text-align: center
.jyr 
    font-weight: bold
.rozmirbukv2
    font-size: 20px
.velText
    font-size: 30px
.vidstup
    margin-top: 20px

.opysFunct
    max-width: 200px
    margin: 20px

.kalend 
    max-width: 400px
    margin: 20px

.chysloLab
    max-width: 400px
    margin: 20px

.functionalnist
    display: flex
    padding: 5px
    justify-content: space-between

.kalendKilk
    display: flex
    padding: 5px
    justify-content: space-between

    
    
    





//Дизайн лабораторної сторінки нижче
.labcontainer
    padding: 1px
    display: flex
    justify-content: space-between
    #sidebar
        padding: 5px
        min-width: 250px
        min-height: 100px
        width: auto
    #labspace
        padding: 5px
        width: auto

.freespace
    height: 100px

        


// Якщо екран менше 750 рх
@media screen and (max-width: 750px)
    .labcontainer
        display: block
    .functionalnist
        flex-direction: column
        justify-content: center
        margin-left: auto
        margin-right: auto
        max-width: 400px
        .opysFunct
            max-width: 400px
    .kalendKilk
        flex-direction: column
        justify-content: center
        margin-left: auto
        margin-right: auto
        .kalend
            max-width: 650px
        .chysloLab
            max-width: 650px