// Загальний дизайн нижче
$realwhite: #f0ecde
$white: #e4f1ea
$litegreen: #A7E9AF
$acs: #569c81
$gray: #3A4750
$dark: #242a31
$black: #181c22
    
*
    -webkit-transition-property: all
    -webkit-transition-duration: .2s
    -moz-transition-timing-function: cubic-bezier(100,50,21,6)
    -moz-transition-property: all
    -moz-transition-timing-function: cubic-bezier(100,50,21,6)
    margin: 0px
    padding: 0px
    font-family: monospace
    font-size: 15px

body
    background-color: $white
    color: $black
h1
    color: $acs
    font-size: 35px

h2
    color: $dark
    font-size: 22px
    
// .differ
//     border-bottom: 10px dotted $black
//     min-width: 350px
//     max-width: 1200px
//     width: 80%
//     margin-left: auto
//     margin-right: auto
//     margin-bottom: 40px

header
    min-width: 560px
    position: fixed
    top: 0
    width: 90%
    a
        text-decoration: none
        color: $realwhite
    .logo
        background-color: $gray
        border-radius: 10px 10px 0px 10px
        padding: 10px
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
        h2
            color: $white
    height: 70px
    padding: 10px 5% 10px 5%
    .menus

        display: flex
        justify-content: right
        .btn
            
            span
                position: absolute
                top:-20px
                font-size: 14px
            color: $realwhite
            padding: 2px
            position: relative
            border-top: 20px solid $gray
            border-left: 30px solid transparent
            height: 0px
            width: 70px
        .mbtns
            width: 85px
            border-top: 25px solid $gray
            &:hover
                border-top: 35px solid $dark
                span
                    top:-25px
        .bactive
            border-top: 25px solid #485e6d
    a
        &:hover
            .btn
                border-top: 30px solid $dark
                text-transform: uppercase
                span
                    top:-22.5px

            
        
            


footer
    padding: 10px 5% 10px 5%
    margin: 0px 5% 0px 5%
    background-color: $gray
    border-radius: 10px 10px 0px 0px
    padding: 10px
    min-height: 15px
    color: $realwhite
    display: flex
    justify-content: space-between
    
    h2
        color: $realwhite
        
    a
        text-decoration: none
        color: $realwhite
        &:hover
          font-weight: bold
          text-transform: uppercase
          //color: $acs
          


//Дизайн головної сторінки нижче
.container
    padding: 50px 5% 50px 5%
    //border: dashed 1px #00000050

html, body, #first  //щоб перший блок був на весь екран
    height: 100%

#first
    
    background-image: url("img/mainb.jpg") 
    //    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    
    h1
        font-size: 80px
        color: $white
    display: flex
    justify-content: center
    align-items: center
.container2
    border-radius: 15px
    border: dashed 1px #00000050

.textProSite
    text-align: left
    width: 400px
.textAlignCentr
    text-align: center
.jyr 
    font-weight: bold
.rozmirbukv2
    font-size: 20px
.velText
    font-size: 30px
.vidstup
    margin-top: 20px

.opysFunct
    
    max-width: 250px
    margin: 20px
    
    padding: 10px
    // 4 стрічки знизу скопіювати для об'єму і анімації
    border-radius: 3px
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1)
    &:hover
        border-radius: 15px

.kalend 
    max-width: 400px
    margin: 20px
    img
        width: 300px

.chysloLab
    max-width: 400px
    margin: 20px

.functionalnist, .Teacher
    display: flex
    padding: 5px
    justify-content: space-between

        

.Teacher
    
    justify-content: center

#third
    .photo
        display: flex
        align-items: center
        flex-direction: column
        text-align: center 
        max-width: 300px
    h1
        text-align: center
        margin-bottom: 15px
        

    .opys
        margin-top: 100px
        div
            margin-left: 30px
            max-width: 400px
            margin-bottom: 10px

    img
        border-radius: 3px
        box-shadow: 4px 4px 22px 9px rgba(26, 43, 56, 0.39)
        margin-bottom: 10px
        &:hover
            border-radius: 15px

#last

    .vaglyve
        max-width: 300px
    .kalendKilk
        align-items: center
        justify-content: space-around
        display: flex
        padding: 5px
    .opysLaby
        display: flex
        align-items: center
        flex-direction: column
        justify-content: center
        min-width: 300px
    .text
        max-width: 500px
    





//Дизайн лабораторної сторінки нижче
.labpagebody
    display: flex
    flex-direction: column
.labnotfooter
    flex: 1 0 auto
footer //футер прижати донизу
    flex-shrink: 0


.labcontainer
    
    h1
        padding: 5px
        font-size: 25px

    h2
        padding: 3px


    padding: 1px
    display: flex
    justify-content: space-between
    #sidebar
        margin-left: 10px
        min-width:150px
        max-height:250px
        max-width:200px
        background-color: #4b635310
    #labspace
        width: 100%
        margin: 0 20px 0 20px 
        justify-content: space-around
        #labscontent
            
            .flexel, .flexellabint
                min-width: 270px
                margin: 10px
                display: flex
                justify-content: center
                align-items: center
                padding: 0px
            #names
                width: 95%
                max-width: none
                justify-content: space-around
                flex-wrap: wrap
                margin-bottom: 40px
            .labbody
                display: flex
                justify-content: space-around
                #labinteract
                    display: block
                    width: 100%
                    .insidelabinteract
                        display: flex
                        flex-wrap: wrap
                        justify-content: space-around
            #labinfo
                flex-direction: column
                text-align: left
                max-width: 500px
                
                    
  

.downloadbutton
    background-color: $acs
    border: none
    color: white
    padding: 12px 30px
    cursor: pointer
    font-size: 20px
    height: 100px
    width: 210px

.downloadbutton:hover
    background-color:$gray
    text-transform: uppercase
    border-radius: 50px

.downloadimg
    height: 25px
    width: 25px

.labvideo
    max-width: 250px

.labGitHub
    height: 120px
    width: 120px

.labscreenimg
    max-width:400px
    width: 250px
    height: 150px

.freespace
    height: 100px

@media screen and (max-width: 1209px)
    .labbody
        flex-wrap: wrap

// Якщо екран менше 750 рх
@media screen and (max-width: 750px)
    //main
    .functionalnist
        flex-direction: column
        justify-content: center
        margin-left: auto
        margin-right: auto
        max-width: 400px
        .opysFunct
            max-width: 400px
    .kalendKilk
        flex-direction: column
        justify-content: center
        margin-left: auto
        margin-right: auto
        align-items: center
        .kalend
            max-width: 650px
        .chysloLab
            max-width: 650px


    //labs
    #labinfo
        max-width: 100px
        width: 100%
    .labcontainer
        
        padding: 1px 
        display: flex 
        flex-direction: column 
        justify-content: center
        align-items: center
        #labspace
            margin: 0px
        #sidebar
            
            max-height:250px
            width: 250px
        #labscontent
            flex-direction: column
            
            .labbody
                flex-direction: column
                

   


