// Загальний дизайн нижче
$realwhite: #f0ecde
$white: #E6E6E6
$liteblue: #93B5C6
$green: #53dd88
$acs: #6B84E8
$gray: #3A4750
$dark: #242a31
$black: #181c22
    
*
    -webkit-transition-property: all
    -webkit-transition-duration: .2s
    -moz-transition-timing-function: cubic-bezier(100,50,21,6)
    -moz-transition-property: all
    -moz-transition-timing-function: cubic-bezier(100,50,21,6)
    margin: 0px
    padding: 0px
    font-family: monospace
    font-size: 15px

body
    background-color: $white
    color: $black
h1
    color: $acs
    font-size: 35px
.mainh1
    margin-bottom: 20px

h2
    color: $dark
    font-size: 22px


a
    text-decoration: none
    color: $acs
    &:hover
        text-transform: uppercase
    
.differ
    border-bottom: 15px dotted $liteblue
    min-width: 350px
    max-width: 1200px
    width: 80%
    margin-left: auto
    margin-right: auto

.smalldiffer
    border-bottom: 5px dashed $liteblue
    margin-bottom: 70px

@keyframes shake
    25%
        transform: rotate(-10deg)

    50%
        transform: rotate(10deg)

    75%
        transform: rotate(-10deg)

    100%
        transform: rotate(0deg)

@keyframes DiorganyiNadpys
    0%
        transform: rotate(-10deg) translate(100px, -50px)
    50%
        transform: translate(0, -100px)
    100%
        transform: rotate(10deg) translate(-100px, -50px)
    
header
    min-width: 560px
    position: fixed
    top: 0
    width: 90%
    a
        text-decoration: none
        color: $realwhite
    .logo
        display: flex
        justify-content: space-between
        background-color: $gray
        border-radius: 10px 10px 0px 10px
        padding: 10px
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
        h2
            color: $white
            font-size: 20px
    height: 70px
    padding: 10px 5% 10px 5%
    .menus

        display: flex
        justify-content: right
        .btn
            
            span
                position: absolute
                top:-20px
                font-size: 14px
            color: $realwhite
            padding: 2px
            position: relative
            border-top: 20px solid $gray
            border-left: 30px solid transparent
            height: 0px
            width: 70px
        .mbtns
            width: 85px
            border-top: 25px solid $gray
            &:hover
                border-top: 35px solid $dark
                span
                    top:-25px
        .bactive
            border-top: 25px solid #485e6d
    a
        &:hover
            .btn
                border-top: 30px solid $dark
                text-transform: uppercase
                span
                    top:-22.5px

            
        
            


footer
    padding: 10px 5% 10px 5%
    margin: 0px 5% 0px 5%
    background-color: $gray
    border-radius: 10px 10px 0px 0px
    padding: 10px
    min-height: 15px
    color: $realwhite
    display: flex
    justify-content: space-between
    
    h2
        color: $realwhite
        
    a
        text-decoration: none
        color: $realwhite
        &:hover
          font-weight: bold
          text-transform: uppercase

          


//Дизайн головної сторінки нижче
.container
    display: flex
    justify-content: center
.block
    max-width: 80%
.container
    padding: 100px 5% 100px 5%
    //border: dashed 1px #00000050

html, body, #first  //щоб перший блок був на весь екран
    height: 100%

#first
    
    background-image: url("img/mainb.jpg") 
    //    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    
    h1
        font-size: 80px
        color: $white
        animation-name: DiorganyiNadpys
        animation-duration: 1.5s
        animation-iteration-count: infinite
        animation-direction: alternate
    display: flex
    justify-content: center
    align-items: center

.textProSite
    margin: 10px auto 10px auto
    text-align: justify
    width: 400px
.textAlignCentr
    text-align: center
.jyr 
    font-weight: bold
.rozmirbukv2
    font-size: 20px
.velText
    font-size: 30px
.vidstup
    margin-top: 20px

.opysFunct
    
    //max-width: 250px
    width: 17%
    min-width: 150px
    margin: 20px
    text-align: center
    padding: 10px
    // 4 стрічки знизу скопіювати для об'єму і анімації
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    transition: all 0.3s cubic-bezier(.25,.8,.25,1)


    &:hover
        border-top-left-radius: 10px
        border-bottom-left-radius: 10px
        border-left: 8px solid $liteblue
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

.functionalnist, .Teacher
    display: flex
    padding: 5px
    justify-content: space-between
    flex-wrap: wrap
.Teacher
    justify-content: center

#third
    .photo
        display: flex
        align-items: center
        flex-direction: column
        text-align: center 
        max-width: 300px
    h1
        text-align: center
        

    .opys
        margin: auto 0 auto
        div
            margin-left: 30px
            max-width: 400px
            margin-bottom: 10px

    img
        border-radius: 3px
        box-shadow: 4px 4px 22px 9px rgba(26, 43, 56, 0.39)
        margin-bottom: 10px
    
.coolbtn
    border: none
    border-radius: 15px
    height: 35px
    width: 120px
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 5px
    cursor: pointer
    background-image: linear-gradient(45deg, $liteblue 50%, $acs 50%)
    background-position: 25%
    background-size: 400%
    -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out
    transition: background 500ms ease-in-out, color 500ms ease-in-out
    &:hover
        color: $realwhite
        background-position: 100%
    input
        margin-right: 10px
    

input
    width: 15px 
    height: 15px
    border-radius: 50%
    transition: box-shadow .3s
    background: lightgrey
    cursor: pointer
    border: 0
    appearance: none 
    -webkit-appearance: none

input:checked 
    box-shadow: inset 0 0 0 20px $green


//Дизайн лабораторної сторінки нижче
.labpagebody
    display: flex
    flex-direction: column
.labnotfooter
    flex: 1 0 auto
footer //футер прижати донизу
    flex-shrink: 0


.labcontainer
    
    h1
        padding: 5px
        font-size: 25px

    h2
        padding: 3px


    padding: 1px
    display: flex
    justify-content: space-between
    #sidebar
        border: dashed 1px $liteblue
        border-radius: 15px
        margin-left: 10px
        min-width:150px
        max-height:250px
        max-width:200px
        background-color: #4b635310
        #labslist
            display: flex
            flex-direction: column
            align-items: center
    #labspace
        width: 100%
        margin: 0 20px 0 20px 
        justify-content: space-around
        padding: 50px
        #labscontent
            
            .flexel, .flexellabint
                min-width: 270px
                margin: 10px
                display: flex
                justify-content: center
                align-items: center
                padding: 0px
            #names
                width: 95%
                max-width: none
                justify-content: space-around
                flex-wrap: wrap
            .labbody
                display: flex
                justify-content: space-around
                #labinteract
                    display: block
                    width: 100%
                    .insidelabinteract
                        display: flex
                        flex-wrap: wrap
                        justify-content: space-around
                    .insidelabinteracttop
                        margin-bottom: 50px
            #labinfo
                flex-direction: column
                text-align: left
                max-width: 500px
                
                    
  

.downloadbutton
    display: flex
    align-items: center
    justify-content: space-around
    border: none
    color: white
    padding: 12px 30px
    cursor: pointer
    font-size: 20px
    height: 100px
    width: 210px
    border-radius: 30px
    background-image: linear-gradient(45deg, $liteblue 50%, $acs 50%)
    background-position: 25%
    background-size: 400%
    -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out
    transition: background 500ms ease-in-out, color 500ms ease-in-out
    &:hover
        color: $realwhite
        background-position: 100%

.downloadimg
    height: 25px
    width: 25px

.labvideo
    max-width: 250px

.labGitHub
    height: 120px
    width: 120px
    &:hover
        animation: 0.5s shake

.labscreenimg
    max-width:400px
    width: 250px
    border: solid 2px $liteblue
    &:hover
        transform: scale(1.7)
        z-index: 1
        transition: transform .5s
        

.freespace
    height: 70px

@media screen and (max-width: 1209px)
    .labbody
        flex-wrap: wrap

// Якщо екран менше 750 рх
@media screen and (max-width: 750px)

    //labs
    #labinfo
        max-width: 100px
        width: 100%
    .labcontainer
        
        padding: 1px 
        display: flex 
        flex-direction: column 
        justify-content: center
        align-items: center
        #labspace
            margin: 0px
        #sidebar
            
            max-height:250px
            width: 250px
        #labscontent
            flex-direction: column
            
            .labbody
                flex-direction: column

